@model task_1.Models.student
@{
    ViewBag.Title = "Index";
}
<table class="table table-striped">

    <thead>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Faculty</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Task 1 </td>
            <td>@Model.Name</td>
            <td>@Model.Age</td>
            <td>@Model.Faculity</td>
        </tr>
    </tbody>

